<!DOCTYPE HTML>
<!--
ERA_Alex  eraspb@mail.ru
-->
<html>
	<head>
		<title>{% block title %} Maria {% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="static/assets/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>

		{% block style %} {% endblock%}


	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">


				<!-- One -->

					<section>
						<div class="hamburger-menu">
						  	<input id="menu__toggle" type="checkbox" />
						  	<label class="menu__btn" for="menu__toggle">
								<span></span>
						  	</label>
						  	<ul class="menu__box">
								<li><a class="menu__item" href="{{ url_for('index') }}">Главная</a></li>
								<li><a class="menu__item" href="{{ url_for('about_me') }}">Обо мне</a></li>
								<li><a class="menu__item" href="#">Учебные пособия</a></li>
								<li><a class="menu__item" href="#">Технологии</a></li>
								<li><a class="menu__item" href="#">Контакты</a></li>
						  	</ul>
						</div>
					</section>



							<!-- Первая запись position1-->

					<section class="menu_top_ind">
						<div class="menu_top_ind_2">
							<h2>Espinosa Rozova Maria</h2>
						</div>
					</section>



					{% block content %}



					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">

							{% for item in list_art1 %}
							<a class="major"><h1>{{ item.name }}</h1></a>

							<p class="major"> {{ item.text }}  </p>

							{% endfor %}

						</div>

						{% for item in list_ban1 %}
						<div class="image">
							<img src="{{item.file_name }}" alt="" />
						</div>
						{% endfor %}

					</section>
							<!-- Первая запись position1-->


				<!-- Two -->
				<!-- Вторая запись position2 -->

					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">


							{% for item in list_art2 %}
							<h2>{{ item.name }}</h2>
							<p>{{ item.text }}</p>
							<ul class="actions stacked">
								<li><a href="{{ url_for('about_me') }}" class="button big wide smooth-scroll-middle">Обо мне</a></li>
							</ul>
							{% endfor %}

						</div>
						{% for item in list_ban2 %}
						<div class="image">
							<img src="{{item.file_name }}" alt="" />
						</div>
						{% endfor %}
					</section>

					<!-- Вторая запись position2 -->



				<!-- Three -->
				<!-- Третья запись position3 -->


					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">

							{% for item in list_art3 %}
							<h2>{{ item.name }}</h2>
							<p>{{ item.text }}</p>
							<ul class="actions stacked">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
							{% endfor %}


						</div>

						{% for item in list_ban3 %}
						<div class="image">
							<img src="{{item.file_name }}" alt="" />
						</div>
						{% endfor %}
					</section>



				<!-- Four -->
				<!-- Четвертая запись position4 -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">

							{% for item in list_art4 %}
							<h2>{{ item.name }}</h2>
							<p>{{ item.text }}</p>
							<ul class="actions stacked">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>

							{% endfor %}

						</div>

						{% for item in list_ban4 %}
						<div class="image">
							<img src="{{item.file_name }}" alt="" />
						</div>
						{% endfor %}

					</section>


				<!-- Five -->
					<section class="wrapper style1 align-center">
						<div class="inner">

							{% for item in list_art5 %}
							<h2>{{ item.name }}</h2>
							<p>{{ item.text|safe }}</p>

							{% endfor %}

						</div>







						<!-- Gallery -->

							<div class="gallery style2 medium lightbox onscroll-fade-in">
								<article>
									{% for item in list_img1 %}
									<a href= "{{item.file_name_big }}" class="image">
										<img src="{{item.file_name }}" alt="" />
									</a>

									<div class="caption">
										<h3>{{ item.name}}</h3>
										<p>{{ item.text}}</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>

									</div>
									{% endfor %}
								</article>

								<article>
									{% for item in list_img2 %}
									<a href= "{{item.file_name_big }}" class="image">
										<img src="{{item.file_name }}" alt="" />
									</a>

									<div class="caption">
										<h3>{{ item.name}}</h3>
										<p>{{ item.text}}</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>

									</div>
									{% endfor %}
								</article>

								<article>
									{% for item in list_img3 %}
									<a href= "{{item.file_name_big }}" class="image">
										<img src="{{item.file_name }}" alt="" />
									</a>

									<div class="caption">
										<h3>{{ item.name}}</h3>
										<p>{{ item.text}}</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>

									</div>
									{% endfor %}
								</article>

								<article>
									{% for item in list_img4 %}
									<a href= "{{item.file_name_big }}" class="image">
										<img src="{{item.file_name }}" alt="" />
									</a>

									<div class="caption">
										<h3>{{ item.name}}</h3>
										<p>{{ item.text}}</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>

									</div>
									{% endfor %}
								</article>

								<article>
									{% for item in list_img5 %}
									<a href= "{{item.file_name_big }}" class="image">
										<img src="{{item.file_name }}" alt="" />
									</a>

									<div class="caption">
										<h3>{{ item.name}}</h3>
										<p>{{ item.text}}</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>

									</div>
									{% endfor %}
								</article>

							</div>

					</section>


					{% endblock %}


				<!-- Six -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Социальные сети</h2>
							<p>Обязательно подпишитесь в моих социальных сетях</p>
							<div class="items style1 medium onscroll-fade-in">
								<section>
									<a href="https://vk.com/moonana" target="_blank"><span class="icon style2 major fa-gem"></span></a>
									<h3><a href="https://vk.com/moonana" target="_blank" >VK</a></h3>
									<p></p>
								</section>
								<section>
									<a href="https://www.instagram.com/espinosarozova/" target="_blank"><span class="icon solid style2 major fa-save"></span></a>
									<h3><a href="https://www.instagram.com/espinosarozova/" target="_blank" >Instagram</a></h3>
									<p></p>
								</section>
								<section>
									<a href="https://www.facebook.com/maria.timonina.39" target="_blank"><span class="icon solid style2 major fa-chart-bar"></span></a>
									<h3><a href="https://www.facebook.com/maria.timonina.39" target="_blank" >Facebook</a></h3>
									<p></p>
								</section>


							</div>
						</div>
					</section>

				<!-- Seven -->

					<section class="wrapper style1 align-center">

						<div class="inner medium">

								{% with messages = get_flashed_messages()  %}
								{% if messages %}
								{% for message in messages %}
								<div class="alert alert-success alert-dismissible fade show" role="alert">
								  {{ message }}
								</div>
								{% endfor %}
								{% endif %}
								{% endwith %}


							<h2>Хотите записаться на урок? Напишите мне</h2>

							<form method="post" action="#">
								<div class="fields">
									<div class="field half">
										<label for="name">Ваше Имя</label>
										<input type="text" name="name" id="name" value="" />
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" value="" />
									</div>
									<div class="field">
										<label for="message">Кратко о себе, цели</label>
										<textarea name="message" id="message" rows="6"></textarea>
									</div>
								</div>
								<ul class="actions special">
									<li><input type="submit" name="submit" id="submit" value="Отправить" /></li>

								</ul>

								<ul class="actions stacked">
								<li><a href="https://t.me/Maria_Espinosa_Rozova" class="button big wide smooth-scroll-middle">Написать в телеграм</a></li>
								</ul>

							</form>




						</div>
					</section>

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
							<!-- <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li> -->
								<li><a href="https://www.facebook.com/maria.timonina.39" target="_blank" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/espinosarozova/" target="_blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<!-- <li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li> -->
								<li><a href="https://vk.com/moonana" target="_blank" class="icon style2 fa-gem"><span class="label">Email</span></a></li>
							</ul>
							<p><a>&copy; Design: E.R. Alex</a>.</p>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			{% block script %}  {% endblock %}

	</body>
</html>